<!DOCTYPE html>

<html>
<head>
	<% include layoutHead.ejs %>

	<title>Home | Veto Chat</title>
	<link rel='stylesheet' href='/css/index.css'>
</head>
<body>
	<section>
		<header id='logo'>Veto Chat</header>
		<div class='subtext'>
			Create a chat room for you and your friends. No mess.
		</div>

		<% if (locals.message) { %>
			<div class='errorMessage'>
				<%= locals.message %>
			</div>
		<% } %>

		<form method='POST' action='/'>
			<header>Create a room!</header>
			<input type='text' placeholder='Roomname (optional)' name='roomToCreate'>
			<button type='submit' name='action' value='create'>Create Room</button>
		</form>

		<form method='POST' action='/'>
			<header>Or join one</header>
			<input type='text' placeholder='Roomname' name='roomToJoin'>
			<button type='submit' name='action' value='join'>Join Room</button>
		</form>
	</section>
</body>
